div {
	text-align: center;
}
.jogo{
	position: absolute;
	top: 20px;
	border: 10px solid black;
	margin: 0 25%; 
	width: 40%;
}
.nova{
	position: absolute;
	top: 10px;
	left: 10px;
}
.palavra{
	position: relative;
}
.word{
	font-size: 300%;
}
.forca{
	width: 50%;
	margin-top: 50px;
}
.teclado {
	margin-top: 200px;
}

.tecla {
	font-size: 100%;
	display: inline-flex;
	height: 10%;
	width: 9%;
}

 
